    .titulo {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 35px;
        padding-left: 60px;
        text-shadow: 3px 3px 3px black;
        } 

    .titulo2 {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 30px;
        padding-left: 60px;
        margin-top: 40px;
        text-shadow: 3px 3px 3px black;
        }

    .titulo3 {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 30px;
        padding-left: 60px;
        margin-top: 110px;
        text-shadow: 3px 3px 3px black;
        }

    .titulo4 {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 30px;
        text-shadow: 3px 3px 3px black;
        } 

    .parrafo {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 20px;
        padding-left: 80px;
        margin-top: 20px;
        text-shadow: 3px 3px 3px black;
        }   

    .parrafo2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 20px;
        margin: 0px 100px;
        text-shadow: 3px 3px 3px black;
        }   

    .parrafo3 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 20px;
        text-shadow: 3px 3px 3px black;
            }   

    .imagen {
        border-radius: 50%;
        padding: 30px;
        margin-top: 20px;
        float: left;
        padding-left: 30px;
        
        }

    .icons {
        height: 35px;
        width: 35px;
        }
    
    .link {
        color: rgb(138, 181, 218);
        text-shadow: 3px 3px 3px black;
    }   

    .inputext {
        outline-color: black;
    } 

    #boton {
        border: 1px;
        border-color: white;
        color: white;
        background-color: black;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: 3px 3px 3px black;
        width: 124px;
        height: 78px;
        text-align: center;
    }

    #boton2 {
        color: black;
        background-color: white;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: 3px 3px 3px white;
        width: 124px;
        height: 78px;
        text-align: center;
    }

    .boton3 {
        color: black;
        background-color: white;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: 3px 3px 3px white;
        width: 124px;
        height: 78px;
    }

    .respuestas {
        font-size: 15px;
        color: white;
        text-shadow: 3px 3px 3px black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }